@charset "UTF-8";

*{
	margin:0;
	padding:0;


}

html{height:100%;}

body{

	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

#main_wrapper{

	margin:auto;
	width:1000px;
}

#top_menu {
    margin: auto;
	background-color:maroon;
	font-family: Times; 
	
	height:30px;
	width:400px;
}


#top_menu a:link, #top_menu a:visited{
	color:black;
	display:inline-block;
	padding:8px  20px;}

#top_menu a:hover, #top_menu .active a:link, #top_menu .active a:visited
	{background-color:grey;}


#main_section{
        margin: auto;
		height:0px;
		width:0px
}



#research {
    margin: auto;
	padding:4px;
	color:white;
    text-indent: 1em; 
	font-family:Times;
	width: 500px;
	background-color:maroon;
}

h2 {
    margin: auto;
    color:lightcoral;
    text-indent: 1em; 
	font-family:Times;
    border: 5px solid white;
    text-align: center;
}

h3 {

    color:lightcoral;
	font-family:Times;
    border: 5px solid white;
}

p {margin: auto;
	padding:4px;
	color:white;
    text-indent: 1em; 
	font-family:Times;
}

#accordion {
    margin: auto;
	padding:4px;
    text-indent: 1em; 
	font-family:Times;
	height:250px;
	width:500px;
	background-color:maroon;
	
	-webkit-box-shadow: 8px 8px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    8px 8px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         8px 8px 5px 0px rgba(50, 50, 50, 0.5);
    
}

#accordion2 {
    margin: auto;
	padding:4px;
    text-indent: 1em; 
	font-family:Times;
	background-color:maroon;
}

#Contact {
    margin: auto;
	padding:4px;
	color:white;
    text-indent: 1em; 
	font-family:Times;
	height:150px;
	width:250px;
	background-color:grey ;
	-webkit-box-shadow: 8px 8px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    8px 8px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         8px 8px 5px 0px rgba(50, 50, 50, 0.5);
}

#draggable {
    float:left;
    padding: 200px; 
    background-color:black
}

#drag {
    color:white;
}

h1 {
    text-align: center;
}